<div class="container p-5">
  
    <div class="d-flex">
        <input class="form-control mb-3" type="text" placeholder="Buscar producto" #txtSearch
            (keyup)="onSearchProduct(txtSearch.value)">
        <!-- <a class="btn" *ngIf="this.authService.getToken()" routerLink="/new"><i class="fa-sharp fa-solid fa-plus"></i></a> -->
    </div>
    <div class="btn-filtros">
        <button *ngFor="let categoria of categorias" class="btn btn-danger mx-2"
            (click)="filtrarPeliculas(categoria.id)">{{categoria.name}}</button>
    </div>
     
    <div class="row">
        <div *ngFor="let product of products | filtroProducto:search" class=" col-md-4 mx-auto mt-2 mb-2"
            style="width: 18rem;">
            
            <app-card-producto [product]="product" ></app-card-producto>
        </div>
    </div>
</div>