<app-banner></app-banner>
<div class="container p-5">
    <div class="row">
        <div *ngFor="let product of products | filtroLimit:page:search" class=" col-md-4 mx-auto mt-2 mb-2"
            style="width: 18rem;">

            <app-card-producto [product]="product"></app-card-producto>
        </div>
        <div class="botones w-100 d-flex justify-content-around">
            <button class="btn btn-primary" (click)="prevPage()">Anteriores</button>
            <button class="btn btn-primary" (click)="nextPage()"
                [disabled]="(products | filtroLimit:page:search).length === 0">Siguientes</button>
        </div>
    </div>
</div>