
  <div class = "card-wrapper">
    <div class = "card">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "{{imgUrls[imgId]}}" alt = "shoe image">
          </div>
        </div>
        <div class="img-select" style="width: 300px; height: 155px;">
          <div class="img-item" style="width: 100%; height: 100%;" *ngFor="let imgUrl of imgUrls; let i = index">
            <a (click)="slideImage(i)">
              <img style="object-fit: cover;" src="{{imgUrl}}" alt="shoe image">
            </a>
          </div>
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">{{product.name}}</h2>
  
        <div class = "product-price">
          <p class = "new-price">Precio: <span>{{product.price | currency: 'PEN'}}0</span></p>
          <!-- <p class = "last-price">New Price: <span>$249.00 (5%)</span></p> -->
        </div>
  
        <div class = "product-detail">
          <h2>Descripción:  </h2>
          <p>{{product.description}}</p>
          <ul>
            <li>Color: <span>Black</span></li>
            <li>Available: <span>in stock</span></li>
            <li>Categoria: <span>{{categoria}}</span></li>
          </ul>
        </div>
  
        <div class = "purchase-info">
          <input type = "number" min = "1" value = "1">
          <!-- <button type = "button" class = "btn">
            Add to Cart <i class = "fas fa-shopping-cart"></i>
          </button> -->
          <button type = "button" class = "btn">Contactar</button>
        </div>
      </div>
    </div>
  </div>
  